{% extends 'base.html' %}

    {% block body %}
 
    <div
    class='container-fluid'>
<div class="row">
    <div class="col-4">
        
    </div>
    <div class="col-4">
        <br>
        <br>
    
        <H4 >
            Crop Mapping Services Limited</H1>
        
        <br>
    <p style="text-align: center; width: 300px; align:center; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illo molestias fugiat laudantium omnis error voluptatibus delectus nihil quo rerum! Provident labore quod eum, voluptatum ratione optio vitae vel veritatis.</p>
    </div>
    <div class="col-4"></div>
</div></div>

  

{% endblock %}
  