{% extends 'base.html' %}

{% block title %}<title>{{type}} Crop Details</title> {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3 align="center">List of {{type}} Fields</h3>
            <br>
        <div class="container-fluid" style="font-family: Century">
        <div class="row" style="border: 2px solid rgb(229, 229, 235);text-align: center;font-size: 25px;background-color: #7cf29b;color: black">
            <div class="col-1"style="border: 1px solid black">ID</div>
            <div class="col-3"style="border: 1px solid black">Farmer</div>
            <div class="col-2"style="border: 1px solid black">Crop</div>
            <div class="col-3"style="border: 1px solid black">Village</div>
            <div class="col-3"style="border: 1px solid black">Mandal</div>
            
        
        </div>
        {% for x in data %}
            <div class="row" style="text-align: center;background-color: white;color: black" >
            <div class="col-1" style="border: 1px solid black;font-size: 16px">{{ forloop.counter }}</div>
            <div class="col-3" style="border: 1px solid black;font-size: 16px"><a href="{% url 'field:idetail' %}?uid={{x.id}}">{{ x.farmer }}</a></div>
            <div class="col-2" style="border: 1px solid black;font-size: 16px">{{ x.crop }}</div>
            <div class="col-3" style="border: 1px solid black;font-size: 16px">{{ x.village }}</div>
            <div class="col-3" style="border: 1px solid black;font-size: 16px">{{ x.mandal.mandal }}</div>
           
        
        </div>
        {% endfor %}
        </div>
            
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock body %}