{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="{% static 'js/L.Geoserver.js' %}"></script>
    
{% endblock head %}
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'field:indices' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'field:analysis' %}">Crop Analysis</a>
   </li>
   </ul>
    <form class="form-inline" action="{% url 'field:logout' %}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>
{% endblock menu %}
{% block body %}
    <style>
        #mapid {
            width: 100%;
            height: 500px;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div id="mapid"></div>
            </div>
            <div class="col-3"> 
              <div style="margin: 10px; border: 5px solid rgb(11, 145, 18); padding: 3px; padding-bottom: 5px; border-radius: 10px; min-height: 150px; text-align: center;">
              
                <H3 style="text-align: center;">NDVI WMS</H2>
                <p>Select Date to View Ndvi Layer</p>
                
                
               
    
    
            <form id='ndvi_date'>
                <label for="ndate">Date </label>
                <select id="ndate" name="crop">
         
                <option value="1025">Oct 25</option>
                <option value="1030">Oct 30</option>
                <option value="1104">Nov 04</option>
                <option value="1109">Nov 09</option>
                <option value="1114">Nov 14 </option>
                <option value="1119">Nov 19</option>  
                <option value="1124">Nov 24</option>   
                <option value="1204">Dec 04</option>   
                <option value="1209">Dec 09</option>   
                <option value="1219">Dec 19</option>     
                <option value="1224">Dec 24</option>
                <option value="1229">Dec 29</option>   

    
                </select>
                <input type="submit">
            </form>
            
            
            </div>
            <!-- Search crop Details -->

            <div style="margin: 10px; border: 5px solid rgb(11, 145, 18); padding: 3px; padding-bottom: 5px; border-radius: 10px; min-height: 150px; text-align: center;">
              
              <H3 style="text-align: center;">Crop Details</H3>
              <p>Search based on Crop Type and Location</p>

          <!-- Search based on the crop type -->
          <form action="{% url 'field:detailct' %}">
              <label for="ndate">Crop Type </label>
              <select id="ndate" name="crop_type">       
                  <option value="Rice">Rice</option>
                  <option value="Cotton">Cotton</option>
                  <option value="Maize">Maize</option>
                  <option value="Mango">Mango</option>
                  <option value="Vegetables">Vegetables </option>
                  <option value="Others">Others</option>             
              </select>
              <input type="submit">
          </form>

          <p>Or</p>

          <!-- Search based on village -->
          <form action="{% url 'field:detailloc' %}">
                <input  type="text" id="ndate" name="village" placeholder="Village Name" style="width: 150px;">           
                <input type="submit" value="Search">
        </form>
          
          
          </div>
            <div id="count"></div>
              
            
            </div>
        </div>
    </div>
    
    <script>
        var mymap = L.map('mapid').setView([18.42615364777555, 78.81336879053919], 11);

        var osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution:
            "&copy; <a href='https://openstreetmap.org/copyright'> Openstreet map</a> contributors",
        }
      ).addTo(mymap);


        
        var Terrain = L.tileLayer(
            'http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                  attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community', 'maxZoom': 20}
        );

        var baseLayers = {
        "osm": osm,
        "Terrain": Terrain       
      };
      var wfsLayer = L.Geoserver.wfs("http://localhost:8080/geoserver/wfs", {
                            layers: "ndvi:fields",
                            
                            style: {
                              color: "#121211",
                              fillOpacity: "0",
                              opacity: "1",
                            },
                            onEachFeature: function (feature, layer) {
                              layer.bindPopup(
                                "<pre>" +
                                  JSON.stringify(feature.properties, null, " ").replace(
                                    /[\{\}"]/g,
                                    ""
                                  ) +
                                  "</pre>"
                              );
                            }
                        });
      var overlays = {
        'Crops': wfsLayer
      }
      L.control.layers(baseLayers, overlays,{autoZIndex: true}).addTo(mymap);

      var layerLegend = L.Geoserver.legend(
        "http://localhost:8080/geoserver/wms",
        {
          layers: "ndvi:1124",
          style:'ndvi:ndvi5class'
        }
      );

      layerLegend.addTo(mymap);




      //Geoserver request
      function NdviWmsLayer(layer){
          var ndviwms = L.Geoserver.wms("http://localhost:8080/geoserver/wms",
            {layers: layer,
              transparent: true,
      });
      ndviwms.addTo(mymap);
      }

      

    
  


  

    var select = $("#ndvi_date");
    select.submit(function(event){
        event.preventDefault();
        var crop= $('#ndate').val();
        var layer = "ndvi:" + crop;
        NdviWmsLayer(layer)
         
     
                 
        })




    </script>

   
    
{% endblock %}