<script type='text/javascript'>
  

    var select = $("#crps");
    select.submit(function(event){
        event.preventDefault();
        var croptype = $('#crops').val();
        
        $.ajax({
            url: "{% url 'field:ajsearch' croptype %}",
            data: {"croptype":croptype},
            type: 'get',
            success: function(data){

                var raw_data='{{data|escapejs}}';
                L.geoJson(raw_data).addTo(fmap);
            }

        });
        
        
        

    })




</script>

<!-- {% load static %}
{% block script %}
<link 
      rel="styleshe et"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock script %}
{% block title %}
<title>
    Indices
</title>
{% endblock title %}

{% block body %}

<div class="container-fluid">
    <div class='row'>
        <div class='col-8'>
            <div id="map"></div>
        </div>

    </div>
</div>
<script>
    var map = L.map('map').setView([18.47102, 78.92772], 11);
    var osm = L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
         {
             attribution: 
             '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }
      );
    
    var Terrain = L.tileLayer(
        'http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
        {
            attribution:
             'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
        });
    
    var baseLayers = {
        osm: osm,
        "Terrain": Terrain,
    };

    osm.addTo(map);

    L.control.layers(baseLayers).addTo(map);
</script>
{% endblock body %} -->


{% extends 'base.html' %}
{% load static %}

{% block head %}


<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>


{% endblock head %}
{% block tile %}
<title>Indices</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div id="map"></div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
<script>
    var map = L.map('map').setView([18.47102, 78.92772],11).addTo(map);
    var osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution:
            "&copy; <a href='https://openstreetmap.org/copyright'> Openstreet map</a> contributors",
        }
      );
    osm.addTo(map);
</script>
{% endblock %}



wfs:
var wfsLayer = L.Geoserver.wfs("http://localhost:8080/geoserver/wfs", {
    layers: "ndvi:fields",
    style: {
      color: "black",
      fillOpacity: "0",
      opacity: "0.5",
    },
    onEachFeature: function (feature, layer) {
      layer.bindPopup(
        "<pre>" +
          JSON.stringify(feature.properties, null, " ").replace(
            /[\{\}"]/g,
            ""
          ) +
          "</pre>"
      );
    }
  });
  wfsLayer.addTo(map);


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'field:indices' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'field:analysis' %}">Crop Analysis</a>
     </li>
     </ul>
      <form class="form-inline" action="{% url 'field:logout' %}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>


  <!-- Time Series Analysis -->

  <script>
    var densityCanvas = document.getElementById("densityChart");
   
   Chart.defaults.global.defaultFontFamily = "Lato";
   Chart.defaults.global.defaultFontSize = 18;
   
   var data = {{ndvi|safe}};
   console.log(data);
   
   var densityData = {
     label: 'Ndvi of crop',
     data: {{ndvi|safe}},
     backgroundColor: 'rgba(0, 99, 132, 0.6)',
     borderWidth: 0,
     yAxisID: "y-axis-density"
   };
   
   var gravityData = {
     label: 'Average Ndvi',
     data: {{avg_ndvi|safe}},
     backgroundColor: 'rgba(99, 132, 0, 0.6)',
     borderWidth: 0,
     yAxisID: "y-axis-gravity"
   };
   
   var planetData = {
     labels: {{labels|safe}},
     datasets: [densityData, gravityData]
   };
   
   var chartOptions = {
     scales: {
       xAxes: [{
         barPercentage: 1,
         categoryPercentage: 0.6
       }],
       yAxes: [{
         id: "y-axis-density"
       }, {
         id: "y-axis-gravity"
       }]
     }
   };
   
   var barChart = new Chart(densityCanvas, {
     type: 'line',
     data: planetData,
     options: chartOptions
   });