<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<style>
    #fmap {
        height:max-content;
        width: 100%;
    }
</style>
</head>
<body>
    <h2> Field Mapping</h2>
<div id="fmap"></div>
<script>
    var fmap = L.map('fmap').setView([18.24,78.48], 7);
    var osm = L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
        {
            'attribution': 
                '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>', 'maxZoom': 20
        });

    var Terrain = L.titleLayer(
        'http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                  'attribution': 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community', 'maxZoom': 20
        });
    
    var DataMap = L.titleLayer(
        'https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png',
         {'attribution': '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>', 'maxZoom': 20
        });

    var baseLayers = {
        "Open Street Map": osm,
        "Terrain Map": Terrain,
        "Data Map": DataMap
    }
    
    osm.addTo(fmap);

    L.control.layers(baseLayers).addTo(fmap);


</script>
    
</body>
</html>